<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Lista de Produtos
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Editar Produto</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/admin/products/{$product.idproduct}" method="post"
                          enctype="multipart/form-data">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="desproduct">Nome da produto</label>
                                <input type="text" class="form-control" id="desproduct" name="desproduct"
                                       placeholder="Digite o nome do produto" value="{$product.desproduct}">
                            </div>
                            <div class="form-group">
                                <label for="vlprice">Preço</label>
                                <input type="number" class="form-control" id="vlprice" name="vlprice" step="0.01"
                                       placeholder="0.00" value="{$product.vlprice}">
                            </div>
                            <div class="form-group">
                                <label for="vlwidth">Largura</label>
                                <input type="number" class="form-control" id="vlwidth" name="vlwidth" step="0.01"
                                       placeholder="0.00" value="{$product.vlwidth}">
                            </div>
                            <div class="form-group">
                                <label for="vlheight">Altura</label>
                                <input type="number" class="form-control" id="vlheight" name="vlheight" step="0.01"
                                       placeholder="0.00" value="{$product.vlheight}">
                            </div>
                            <div class="form-group">
                                <label for="vllength">Comprimento</label>
                                <input type="number" class="form-control" id="vllength" name="vllength" step="0.01"
                                       placeholder="0.00" value="{$product.vllength}">
                            </div>
                            <div class="form-group">
                                <label for="vlweight">Peso</label>
                                <input type="number" class="form-control" id="vlweight" name="vlweight" step="0.01"
                                       placeholder="0.00" value="{$product.vlweight}">
                            </div>
                            <div class="form-group">
                                <label for="desurl">Peso</label>
                                <input type="text" class="form-control" id="desurl" name="desurl"
                                       value="{$product.desurl}">
                            </div>
                            <div class="form-group">
                                <label for="file">Foto</label>
                                <input type="file" class="form-control" id="file" name="file" value="{$product.desphoto}">
                                <div class="box box-widget">
                                    <div class="box-body">
                                        <img class="img-responsive" id="image-preview" src="{$product.desphoto}" alt="Photo">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>
    document.querySelector('#file').addEventListener('change', function () {

        var file = new FileReader();

        file.onload = function () {

            document.querySelector('#image-preview').src = file.result;

        }

        file.readAsDataURL(this.files[0]);

    });
</script>