<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>{$category['descategory']}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            {loop="$produtos"}
            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="{$value.desphoto}" alt="">
                    </div>
                    <h2><a href="/products/{$value.desurl}">{$value.desproduct}</a></h2>
                    <div class="product-carousel-price">
                        <ins>R$ {function="formatarPreco($value.vlprice)"}</ins>
                    </div>

                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                           rel="nofollow" href="/canvas/shop/?add-to-cart=70">Comprar</a>
                    </div>
                </div>
            </div>
            {/loop}
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        <ul class="pagination">
                            {loop="$paginas"}
                            <li><a href="{$value.link}">{$value.numeroPagina}</a></li>
                            {/loop}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>